<footer class="main-footer">
  <div class="container">
    <div class="row row-gutter-y-30">
      <div class="col-lg-4 col-md-6">
        <div class="footer-widget footer-widget--about">
          <a href="/" class="footer-widget__logo">
            <img
              src="assets/images/logo-light.png"
              alt="finlon"
              width="140"
              height="51"
            />
          </a>
          <p class="footer-widget__text"><%= settings.siteFooterTitle %></p>
          <ul class="list-unstyled footer-widget__info">
            <li>
              <i class="icon-email"></i>
              <a href="mailto:<%= settings.siteEmail %>"
                ><%= settings.siteEmail %></a
              >
            </li>
            <li>
              <i class="icon-telephone"></i>
              <a href="tel:<%= settings.siteFirstMobile %>"
                ><%= settings.siteFirstMobile %>
              </a>
            </li>
          </ul>
          <!-- /.list-unstyled -->
        </div>
        <!-- /.footer-widget -->
      </div>
      <!-- /.col-lg-4 -->
      <div class="col-lg-2 col-md-6">
        <div class="footer-widget footer-widget--links">
          <h3 class="footer-widget__title">Explore More</h3>
          <!-- /.footer-widget__title -->
          <ul class="list-unstyled footer-widget__menu">
            <li><a href="/pages/about-us">About</a></li>
            <li><a href="/pages/core-services">Our Services</a></li>
            <li><a href="/pages/advisory">Advisory</a></li>
            <li><a href="/pages/apply-for-loan">Apply for Loan</a></li>
            <li><a href="/pages/contact-us">Contact</a></li>
          </ul>
          <!-- /.list-unstyled footer-widget__menu -->
        </div>
        <!-- /.footer-widget -->
      </div>
      <!-- /.col-lg-2 -->
      <div class="col-lg-3 col-md-6">
        <div class="footer-widget footer-widget--time">
          <h3 class="footer-widget__title">Timing & Office Hours</h3>
          <!-- /.footer-widget__title -->
          <p class="footer-widget__text">
            Mon Fri: 7:00am - 6:00pm <br />
            Saturday: 9:00am - 5:00pm <br />
            Sunday: Closed
          </p>
          <div class="footer-widget__social">
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-facebook"></i></a>
            <a href="#"><i class="fab fa-pinterest"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
          </div>
          <!-- /.footer-widget__social -->
        </div>
        <!-- /.footer-widget -->
      </div>
      <!-- /.col-lg-3 -->
      <div class="col-lg-3 col-md-6">
        <div class="footer-widget footer-widget--newsletter">
          <h3 class="footer-widget__title">Newsletter</h3>
          <!-- /.footer-widget__title -->
          <form class="footer-widget__mailchimp">
            <input type="email" placeholder="Email address" />
            <p class="footer-widget__mailchimp__text">
              <i class="fa fa-check"></i>
              I agree to all your terms and policies
            </p>
            <!-- /.footer-widget__mailchimp -->
          </form>
          <!-- /.footer-widget__mailchimp -->
        </div>
        <!-- /.footer-widget -->
      </div>
      <!-- /.col-lg-3 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</footer>
<!-- /.main-footer -->

<div class="bottom-footer">
  <div class="container">
    <p class="bottom-footer__text text-center">
      Copyright &copy; 2019 All Rights Reserved.
    </p>
    <!-- /.bottom-footer__text -->
  </div>
  <!-- /.container -->
</div>
<!-- /.bottom-footer -->
